/*
 * Name: City Search App 
 * Date: 01/06/2017
 * Author: Jack Lyons
 */

/* 
 * Base Styles 
 *
 */
html {
  font-size: 1em;
}

body {
  background: url("../assets/michal-pechardo-208341.jpg") no-repeat center
    center fixed;
  background-size: cover;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode",
    "Lucida Sans", Tahoma, sans-serif;
  font-weight: 400;

  line-height: 1.45;
  color: #333;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* 
 * Typography 
 *
 */
p {
  margin: 1.3em;
}

h1,
h2,
h3,
h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 3.998em;
}

h2 {
  font-size: 2.827em;
}

h3 {
  font-size: 1.999em;
}

h4 {
  font-size: 1.414em;
}

small,
.font_small {
  font-size: 0.707em;
}

.bold {
  font-weight: bold;
}

/* 
 * Formatting
 *
 */
.m-t-0 {
  margin-top: 0;
}

.m-1 {
  margin: 1em 0;
}

.p-2 {
  padding: 2em 0;
}

.site-content {
  flex: 1;
}

.is-centered {
  margin: 0 auto;
  text-align: center;
}

.error-input {
  background: tomato;
  padding: 4px;
  border-radius: 5px;
  color: snow;
}

.is-half {
  width: 50%;
}

.img-responsive {
  width: 100%;
  height: auto;
}

.img-responsive--fitted {
  height: 300px;
  object-fit: scale-down;
}

.footer {
  padding: 1rem;
  width: 100%;
}

[v-cloak] {
  display: none;
}

/* Layouts */
/* 
 * Search Results
 *
 */
.searchbar {
  width: 80%;
  margin: 0 auto;
}

.results,
.results--filter {
  background: #fff;
  border: 1px solid lightgrey;
  margin: 1em auto;
  padding: 1em;
  width: 75%;
}

.city-search {
  width: 40%;
  margin: 0 auto;
  text-align: center;
}

.city--icon {
  max-width: 150px;
  padding: 1em;
}

.filter-field {
  text-align: left;
}

.filter-label {
  display: block;
  margin: 0.5em 0;
}

.modal-card-body--load-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.modal-card-title {
  width: 80%;
}

/* Media Queries */
@media screen and (max-width: 500px) {
  .city-search {
    display: block;
    margin: 0.5em auto;
    width: 100%;
  }

  .city-search--btn,
  .searchbar .is-success {
    width: 100%;
    margin: 0.5em auto;
  }
}
